.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.alignleft,
div.alignleft,
a img.alignleft {
	display: block;
	margin-bottom: var(--gutter-base);
	max-width: 100%;
}

@media (min-width: 481px) {
	.alignleft,
	div.alignleft,
	a img.alignleft {
		float: left;
		margin-right: var(--gutter-base);
		max-width: 60%;
	}
}

.alignright,
div.alignright,
a img.alignright {
	display: block;
	margin-bottom: var(--gutter-base);
	max-width: 100%;
}

@media (min-width: 481px) {
	.alignright,
	div.alignright,
	a img.alignright {
		float: right;
		margin-left: var(--gutter-base);
		max-width: 60%;
	}
}

.aligncenter,
div.aligncenter,
a img.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

.alignnone,
div.alignnone,
a img.alignnone {
	margin: 1.5rem 0;
}

p > .alignnone,
p > div.alignnone,
p > a img.alignnone {
	margin: 0;
}

.wp-caption {
	background: var(--color-gray-lightest);
	max-width: 100%;
	padding: 0;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 1.25rem 0;
}

.wp-caption.alignright {
	margin: 1.25rem 0 1.25rem 1.25rem;
}

.wp-caption.alignleft {
	margin: 1.25rem 1.25rem 1.25rem 0;
}

.wp-caption > .wp-caption-text {
	font-size: .6875rem;
	line-height: 1.5;
	margin: 0;
	padding: .95rem;
	text-align: left;
}

.wp-caption > img {
	display: block;
	height: auto;
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: auto;
}

article.sticky {
	background-color: var(--color-gray-lightest);
	background-clip: padding-box;
}

.gallery-caption {
	display: block;
}

.bypostauthor {
	display: block;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: monospace;
	font-size: .875rem;
	hyphens: none;
}

code {
	padding: .25rem;
	border: .0625rem solid var(--color-gray-lighter);
	background-color: var(--color-gray-lightest);
	white-space: pre;
}

pre {
	max-width: 100%;
	padding: .75rem;
	margin-bottom: 1.5rem;
	border: .0625rem solid var(--color-gray-lighter);
	background-color: var(--color-gray-lightest);
	line-height: 1.2;
	overflow: auto;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
