.staff-member {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
}

.staff-member:not(.-profile) {
	margin-bottom: var(--gutter-base);
}

@media (--bp-small) {

	.staff-member:not(.-profile) {
		flex-basis: calc(25% - 2rem);
		margin-right: var(--gutter-base);
		margin-bottom: var(--gutter-medium);
		margin-left: var(--gutter-base);
	}

	.staff-member:not(.-profile):nth-of-type(4n+1) {
		margin-left: 0;
	}

	.staff-member:not(.-profile):nth-of-type(4n+4) {
		margin-right: 0;
	}
}
@media (--bp-max-width) {

	.staff-member:not(.-profile) {
		flex-basis: calc(25% - 4rem);
		margin-right: var(--gutter-medium);
		margin-bottom: var(--gutter-large);
		margin-left: var(--gutter-medium);
	}
}
