.staff-content {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	-ms-flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	order: 2;
	flex: 0 1 100%;
	align-self: auto;
	max-width: 100%;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
}

.staff-content .iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (--bp-small) {

	.staff-content {
		flex: 0 1 calc(66.66666666% - 1rem);
		padding-bottom: 95%;
		margin-left: 1rem;
	}
}
@media (--bp-max-width) {

	.staff-content {
		flex: 0 1 calc(66.66666666% - 2rem);
		padding-bottom: 77%;
		margin-left: 2rem;
	}
}
