.staff-name {
	flex: 0 1 100%;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: var(--gutter-base);
	font-weight: 700;
	color: var(--color-gray-dark);
}

.staff-name:not(.-profile) {
	line-height: 1.5;
	font-size: 1.125rem;
}

.staff-name:matches(.-profile) {
	line-height: 1;
	font-size: 1.5rem;
}

.staff-name > .link,
.staff-name > .link:visited {
	color: var(--color-gray-dark);
	text-decoration: none;
}

.staff-name > .link:hover,
.staff-name > .link:focus {
	color: var(--color-blue);
	text-decoration: none;
}

@media (--bp-small) {

	.staff-name:not(.-profile) {
		font-size: 1.25rem;
	}

	.staff-name:matches(.-profile) {
		font-size: 2rem;
	}
}
@media (--bp-max-width) {

	.staff-name:not(.-profile) {
		font-size: 1.5rem;
	}

	.staff-name:matches(.-profile) {
		font-size: 2.5rem;
	}
}
