.staff-image {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	flex: 0 1 100%;
	align-self: auto;
}

.staff-image:not(.-profile) {
	order: 0;
}

.staff-image.-profile {
	order: 1;
}

.staff-image > .image {
	display: flex;
	flex: 0 1 auto;
}

@media (--bp-small) {

	.staff-image.-profile {
		flex: 0 1 calc(33.33333333% - 1rem);
		margin-right: 1rem;
	}
}

@media (--bp-max-width) {

	.staff-image.-profile {
		flex: 0 1 calc(33.33333333% - 2rem);
		margin-right: 2rem;
	}
}
