.staff-meta {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	flex: 0 1 100%;
	align-self: auto;
	text-align: center;
}

.staff-meta:not(.-profile) {
	order: 1;
	margin-top: var(--gutter-base);
}

.staff-meta:matches(.-profile) {
	order: 0;
	margin-bottom: var(--gutter-medium);
}

@media (--bp-max-width) {

	.staff-meta:not(.-profile) {
		margin-top: var(--gutter-medium);
	}

	.staff-meta:matches(.-profile) {
		margin-bottom: var(--gutter-medium);
	}
}
