.staff-title {
	flex: 0 1 100%;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 300;
	line-height: 1.5;
	color: var(--color-gray-dark);
}

.staff-title:not(.-profile) {
	font-size: 1rem;
}

.staff-title:matches(.-profile) {
	font-size: 1.25rem;
}

@media (--bp-small) {

	.staff-title:not(.-profile) {
		font-size: 1.125rem;
	}

	.staff-title:matches(.-profile) {
		font-size: 1.5rem;
	}
}
@media (--bp-max-width) {

	.staff-title:not(.-profile) {
		font-size: 1.25rem;
	}

	.staff-title:matches(.-profile) {
		font-size: 1.75rem;
	}
}
