.team-title {
	flex: 0 1 100%;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: var(--gutter-base);
	font-size: 1.25rem;
	font-weight: 300;
	color: var(--color-gray-dark);
}

@media (--bp-small) {

	.team-title {
		margin-bottom: var(--gutter-medium);
		font-size: 1.5rem;
	}
}

@media (--bp-max-width) {

	.team-title {
		font-size: 2rem;
	}
}
