.social-link {
	display: inline-block;
	width: 60px;
	height: 60px;
	padding-top: em(14, 18);
	padding-bottom: em(14, 18);
	margin-right: em(10, 18);
	border-radius: em(8, 18);
	background-color: $color-gray-light;
	transition: background-color .25s ease-in-out;
	text-align: center;
}

.social-link.-facebook {
	background-color: $color-facebook;
}

.social-link.-instagram {
	background-color: $color-instagram;
}

.social-link.-twitter {
	background-color: $color-twitter;
}

.social-link.-youtube {
	background-color: $color-youtube;
}

.social-link.-facebook:hover,
.social-link.-facebook:focus {
	background-color: lighten($color-facebook, 5%);
}

.social-link.-instagram:hover,
.social-link.-instagram:focus {
	background-color: lighten($color-instagram, 5%);
}

.social-link.-twitter:hover,
.social-link.-instagram:focus {
	background-color: lighten($color-twitter, 5%);
}
