$blue: rgba(0, 134, 193, 1);
$darkBlue: rgba(0, 60, 86, 1);
$white: rgba(255, 255, 255, 1);

.social-icon {
	width: 2rem;
	height: 2rem;
	padding: .375rem;
	border: .125rem solid var(--color-blue-dark);
	border-radius: 50%;
	background-color: transparent;
}

.nav-link:hover .social-icon,
.nav-link:focus .social-icon {
	border-color: var(--color-blue-dark);
	background-color: var(--color-blue-dark);
}

.social-icon > .icon {
	display: block;
	width: 1rem;
	height: 1rem;
	pointer-events: none;
}

.social-icon > .icon.-facebook {
	background: svg-load('social/facebook.svg', fill=$darkBlue);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.nav-link:hover .icon.-facebook,
.nav-link:focus .icon.-facebook {
	background: svg-load('social/facebook.svg', fill=$white);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.social-icon > .icon.-instagram {
	background: svg-load('social/instagram.svg', fill=$darkBlue);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.nav-link:hover .icon.-instagram,
.nav-link:focus .icon.-instagram {
	background: svg-load('social/instagram.svg', fill=$white);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.social-icon > .icon.-twitter {
	background: svg-load('social/twitter.svg', fill=$darkBlue);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.nav-link:hover .icon.-twitter,
.nav-link:focus .icon.-twitter {
	background: svg-load('social/twitter.svg', fill=$white);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
