.container-column {
	@mixin flexbox column, nowrap, flex-start, flex-start, stretch;
	@mixin flex;
	@mixin container;
}

.site-header > .container-column {
	@mixin flex-justify-content center;
	@mixin flex-align-items stretch;
	@mixin flex-align-content center;
	position: relative;
	height: calc(100% - 3.125rem);
	margin-top: 3.1875rem;
}

.site-content > .container-column {
	@mixin flex-justify-content center;
	@mixin flex-align-items stretch;
	@mixin flex-align-content center;
	@mixin flex-shrink 1;
	@mixin flex-basis 100%;
	position: relative;
}

.site-search > .container-column,
.page-section > .container-column {
	@mixin flex-align-items stretch;
	@mixin flex-align-content stretch;
	@mixin flexbox column, nowrap, flex-start, stretch, stretch;
	@mixin flex-shrink 1;
	@mixin flex-basis 100%;
}

.page-hero > .container-column {
	@mixin flex-justify-content center;
	@mixin flex-align-items stretch;
	@mixin flex-align-content center;
	position: relative;
}

.entry-header.-event > .container-column,
.entry-article.-event > .container-column {
	@mixin flexbox column, nowrap, flex-start, stretch, stretch;
	@mixin flex 0, 1, 1, 100%, auto;
}

@media (--bp-small) {

	.site-header > .container-column {
		height: calc(100% - 4.4375rem);
		margin-top: 4.4375rem;
	}
}
