.site-footer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	order: 0;
	flex: none;
	align-self: auto;
	padding-top: var(--gutter-base);
	padding-bottom: var(--gutter-base);
	background-color: var(--color-blue);
}

@media (--bp-small) {
	.site-footer {
		flex-direction: row;
		align-items: stretch;
		padding-top: var(--gutter-medium);
		padding-bottom: var(--gutter-medium);
	}
}

@media (--bp-max-width) {
	.site-footer {
		padding-top: var(--gutter-large);
		padding-bottom: var(var(--gutter-large)  );
	}
}
