.site-header {
	@mixin flexbox row, wrap, flex-start, stretch, flex-start;
	@mixin flex 0, 1, 0, auto, auto;
	overflow: hidden;
	background-color: transparent;
	background-size: cover;
	background-position: center center;
	z-index: 10;
}

.site-header:not(.-frontpage, .-profile) {
	height: 24.375rem;
}

.site-header:matches(.-profile) {
	height: 3.1875rem;
}

.site-header:not(.-profile):after {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: var(--color-black);
	opacity: .4;
	z-index: 11;
	content: '';
}

.site-header:matches(.-profile):after {
	display: none;
	visibility: hidden;
}

.logged-in .site-header:after {
	top: 2.785rem;
}

.site-header:not(.-frontpage):after, {
	height: 24.375rem;
}

@media (--bp-small) {

	.site-header,
	.site-header:not(.-frontpage, .-profile),
	.site-header:not(.-frontpage):after {
		height: 31.25rem;
	}

	.site-header:matches(.-profile) {
		height: 4.4375rem;
		background-color: var(--color-white);
		border-bottom: .0625rem solid var(--color-gray-lighter);
	}
}

@media (--bp-wp) {

	.logged-in .site-header:after {
		top: 2rem;
	}
}

@media (--bp-max-width) {

	.site-header,
	.site-header:not(.-frontpage, .-profile),
	.site-header:not(.-frontpage):after {
		height: 42.75rem;
	}
}
