.site-content {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	width: auto;
	padding-top: var(--gutter-base);
	padding-bottom: var(--gutter-base);
}

@media (--bp-small) {

	.site-content {
		padding-top: var(--gutter-medium);
		padding-bottom: var(--gutter-medium);
	}
}

@media (--bp-max-width) {

	.site-content {
		padding-top: var(--gutter-large);
		padding-bottom: var(--gutter-large);
	}
}
