:root {
	--color-black: black; /* #000 */
	--color-black-50: rgba(0, 0, 0, .5); /* #000 */
	--color-black-80: rgba(0, 0, 0, .8); /* #000 */
	--color-white: white; /* #fff */
	--color-white-50: rgba(255, 255, 255, .5); /* #fff */
	--color-blue: rgba(0, 134, 193, 1); /* #0086c1 */
	--color-blue-50: rgba(0, 134, 193, .5); /* #0086c1 */
	--color-blue-light: rgba(3, 179, 255, 1); /* #03b3ff */
	--color-blue-lighter: rgba(151, 222, 252, 1); /* #97defc */
	--color-blue-lightest: rgba(202, 240, 254, 1); /* #caf0fe */
	--color-blue-dark: rgba(0, 60, 86, 1); /* #003c56 */
	--color-blue-dark-50: rgba(0, 60, 86, .5); /* #003c56 */
	--color-blue-darker: rgba(0, 39, 56, 1); /* #002738 */
	--color-blue-darker-50: rgba(0, 39, 56, .5); /* #002738 */
	--color-blue-darkest: rgba(0, 9, 13, 1); /* #00090d */
	--color-gray: rgba(85, 85, 85, 1); /* #555 */
	--color-gray-light: rgba(121, 118, 121, 1); /* #797679 */
	--color-gray-lighter: rgba(200, 200, 200, 1); /* #c8c8c8 */
	--color-gray-lightest: rgba(248, 247, 247, 1); /* #f8f7f7 */
	--color-gray-dark: rgba(57, 56, 57, 1); /* #393839 */
	--color-gray-darker: rgba(34, 34, 34, 1); /* #222 */
	--color-gray-darkest: rgba(17, 17, 17, 1); /* #111 */
}

@custom-media --bp-tiny (min-width: 25rem); /* 400px */
@custom-media --bp-small (min-width: 40.625rem); /* 650px */
@custom-media --bp-wp (min-width: 48.9375rem); /* 783px */
@custom-media --bp-medium (min-width: 53.125rem); /* 850px */
@custom-media --bp-large (min-width: 62.5rem); /* 1000px */
@custom-media --bp-max-width (min-width: 78.375rem); /* 1260px */
