.entry-article {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	order: 0;
	flex: 0 1 100%;
	align-self: auto;
}

.entry-article.-featured {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	order: 0;
	flex: 0 1 100%;
	align-self: auto;
	padding-bottom: var(--gutter-base);
}

.entry-article.-featured:nth-last-of-type(1) {
	padding-bottom: 0;
}

@media (--bp-small) {

	.entry-article.-featured {
		flex-basis: calc(33.33333333% - 1.33333333rem);
		padding-bottom: 0;
		margin-right: var(--gutter-base);
		margin-left: var(--gutter-base);
	}

	.entry-article.-featured:nth-of-type(1) {
		margin-left: 0;
	}

	.entry-article.-featured:nth-last-of-type(1) {
		margin-right: 0;
	}
}

@media (--bp-max-width) {

	.entry-article.-featured {
		flex-basis: calc(33.33333333% - 2.666666666rem);
		margin-right: var(--gutter-medium);
		margin-left: var(--gutter-medium);
	}

	.entry-article.-featured:nth-of-type(1) {
		margin-left: 0;
	}

	.entry-article.-featured:nth-last-of-type(1) {
		margin-right: 0;
	}
}

