.entry-meta {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	z-index: 12;
}

.entry-meta.-event {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	margin: var(--gutter-base) auto 0;
	color: var(--color-white);
	text-align: center;
}

.entry-meta.-article {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	margin-top: var(--gutter-small);
	margin-bottom: var(--gutter-small);
	font-size: 1rem;
	color: var(--color-white);
}

.entry-meta.-featured {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	order: 1;
	flex: 0 1 auto;
	align-self: auto;
	padding-bottom: var(--gutter-base);
}

@media (--bp-small) {

	.entry-meta.-article,
	.entry-meta.-event {
		margin-top: var(--gutter-base);
		margin-bottom: var(--gutter-base);
	}
}

@media (--bp-max-width) {

	.entry-meta.-article,
	.entry-meta.-event {
		margin-top: var(--gutter-medium);
		margin-bottom: var(--gutter-medium);
	}
}
