.entry-link {
	flex: 0 1 auto;
}

.entry-link:hover,
.entry-link:focus {
	text-decoration: none;
}

.entry-link.-featured {
	flex: 0 1 100%;
	align-self: flex-start;
	padding: .875rem 1.75rem;
	background-color: var(--color-blue);
	border: 0;
	border-radius: .25rem;
	line-height: 1;
	font-size: .875rem;
	font-weight: 300;
	color: var(--color-white);
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}

.entry-link.-featured:visited {
	background-color: var(--color-blue);
	color: var(--color-white);
	text-decoration: none;
}

.entry-link.-featured:hover,
.entry-link.-featured:focus {
	background-color: var(--color-blue-dark);
	color: var(--color-white);
	text-decoration: none;
}

@media (--bp-small) {

	.entry-link.-featured {
		flex: 0 1 auto;
		padding: 1rem 2rem;
		font-size: 1rem;
	}
}
