.entry-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	order: 0;
	flex: 0 1 100%;
	align-self: auto;
	padding-top: var(--gutter-base);
	padding-bottom: var(--gutter-base);
}

.single .entry-content {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
}

.entry-content.-frontpage {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

.page:not(.home) .et_pb_pagebuilder_layout .entry-content {
	margin-top: var(--gutter-base) !important;
	margin-bottom: var(--gutter-base) !important;
}

.entry-content.-featured {
	flex-basis: auto;
	font-size: .75rem;
	font-weight: 300;
	color: var(--color-gray-light);
	text-align: left;
}

.entry-content.-featured p:nth-of-type(1) {
	margin-top: 0;
}

@media (--bp-small) {

	.entry-content:not(.-featured)  {
		padding-top: var(--gutter-medium);
		padding-bottom: var(--gutter-medium);
	}

	.page:not(.home) .et_pb_pagebuilder_layout .entry-content {
		margin-top: var(--gutter-medium) !important;
		margin-bottom: var(--gutter-medium) !important;
	}
}

@media (--bp-max-width) {

	.entry-content:not(.-featured) {
		padding-top: var(--gutter-large);
		padding-bottom: var(--gutter-large);
	}

	.entry-content.-featured {
		font-size: .875rem;
	}

	.page:not(.home) .et_pb_pagebuilder_layout .entry-content{
		margin-top: var(--gutter-large) !important;
		margin-bottom: var(--gutter-large) !important;
	}
}
