.entry-category {
	margin-left: .25rem;

	& > .link {
		margin-left: .25rem;
	}

	& > .link,
	& > .link:visited {
		color: var(--color-white);
	}

	& > .link:hover,
	& > .link:focus {
		color: var(--color-gray-lightest);
	}
}
