.entry-image.-featured {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	order: 0;
	flex: 0 1 100%;
	align-self: auto;
	width: 100%;
	height: 100%;
	padding-top: 66.66666666%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
}
