.entry-title.-event {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	margin: 0 auto;
	font-size: 1.5rem;
	color: var(--color-black);
	text-transform: uppercase;
	text-align: center;
	z-index: 12;
}

.entry-title.-featured {
	order: 0;
	flex: 0 1 auto;
	align-self: flex-start;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: var(--gutter-base);
	padding-bottom: .75rem;
	font-size: 1.125rem;
	font-weight: normal;
	color: var(--color-gray);
	text-align: left;
}

@media (--bp-small) {

	.entry-title.-event {
		font-size: 3rem;
	}

	.entry-title.-featured {
		padding-bottom: 1.125rem;
		font-size: 1.5rem;
	}
}

@media (--bp-max-width) {

	.entry-title.-event {
		font-size: 4.5rem;
	}

	.entry-title.-featured {
		padding-bottom: 1.375rem;
		font-size: 1.75rem;
	}
}
