.entry-header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
}

.single-tribe_events.site-body .entry-header.-event {
	display: flex;
}

.entry-header.-event {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: stretch;
	flex: 1 0 auto;
	width: auto;
	height: 36rem;
	margin-bottom: var(--gutter-base);
	overflow: hidden;
	background-size: cover;
	z-index: 10;
}

.entry-header.-event:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: transparent;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%);
	z-index: 11;
	content: '';
}

@media (--bp-small) {

	.entry-header.-event {
		height: 48rem;
		margin-bottom: var(--gutter-medium);
	}
}

@media (--bp-max-width) {

	.entry-header.-event {
		height: 60rem;
		margin-bottom: var(--gutter-large);
	}
}

.entry-header.-featured {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	width: 100%;
}
