.svg-search {
	width: 1.5rem;
	height: 1.5rem;
	fill: var(--color-white);
	pointer-events: none;
}

.sticky-header.-nottop .svg-search,
.search-button.-profile > .svg-search {
	fill: var(--color-gray-dark);
}

.search-button:hover > .svg-search,
.search-button:focus > .svg-search {
	fill: var(--color-white-75);
}

.sticky-header.-nottop .search-button:hover > .svg-search,
.sticky-header.-nottop .search-button:focus > .svg-search,
.search-button.-profile:hover .svg-search,
.search-button.-profile:focus > .svg-search {
	fill: var(--color-gray-darker);
}
