.svg-logo {
	width: 10.25rem; /* 164px */
	max-width: 100%;
	height: 2.5rem; /* 40px */
	fill: var(--color-white);
}

@media (--bp-small) {
	.svg-logo {
		width: 12.75rem; /* 204px */
		height: 3.125rem; /* 50px */
	}
}

.logo-link:hover > .svg-logo,
.logo-link:focus > .svg-logo {
	fill: var(--color-white-75);
}
