.date-separator {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	margin-right: .75rem;
	margin-left: .75rem;
	font-size: 1.125rem;
}

.date-separator.-featured {
	margin-right: .25rem;
	margin-left: .25rem;
}

@media (--bp-small) {

	.date-separator {
		font-size: 1.5rem;
	}
}

@media (--bp-max-width) {

	.date-separator {
		font-size: 2rem;
	}
}
