.event-title {
	font-size: 1.125rem;
	font-weight: normal;
	color: var(--color-gray);
}

@media (--bp-small) {

	.event-title {
		font-size: 1.5rem;
	}
}

@media (--bp-max-width) {

	.event-title {
		font-size: 2rem;
	}
}
