.event-location {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
}

.event-location.-featured {
	font-size: .875rem;
	color: var(--color-gray);
}

.event-location.-event {
	font-size: 1.25rem;
}

@media (--bp-max-width) {

	.event-location.-event {
		font-size: 1.375rem;
	}
}

@media (--bp-max-width) {

	.event-location:not(.-event) {
		font-size: 2rem;
	}

	.event-location.-event {
		font-size: 1.5rem;
	}

	.event-location.-featured {
		font-size: 1.125rem;
		color: var(--color-gray);
	}
}
