.event-dates {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: flex-start;
	align-items: stretch;
	order: 0;
	flex: 0 1 100%;
	align-self: auto;
	font-size: 1.125rem;
}

.event-dates.-featured {
	flex-basis: auto;
	font-size: .875rem;
	color: var(--color-gray);
}

.event-dates.-event {
	flex-basis: auto;
	font-size: 1.25rem;
}

@media (--bp-small) {

	.event-dates.-event {
		font-size: 1.375rem;
	}

	.event-dates:not(.-featured) {
		font-size: 1.5rem;
	}
}

@media (--bp-max-width) {

	.event-dates:not(.-event) {
		font-size: 2rem;
	}

	.event-dates.-event {
		font-size: 1.5rem;
	}

	.event-dates.-featured {
		font-size: 1.125rem;
	}
}
