.featured-events {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: stretch;
	align-items: stretch;
	flex: 1 0 auto;
	width: 100%;
	max-width: --gutter-width;
	padding-right: var(--gutter-base);
	padding-left: var(--gutter-base);
	margin: 0 auto;
	text-align: center;
}

@media (--bp-small) {

	.featured-events {
		padding-right: var(--gutter-medium);
		padding-left: var(--gutter-medium);
	}
}

@media (--bp-max-width) {

	.featured-events {
		padding-right: var(--gutter-large);
		padding-left: var(--gutter-large);
	}
}
