.location-separator {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
}

.location-separator:not(.-event) {
	margin-right: .25rem;
	margin-left: .25rem;
	font-size: .875rem;
	color: var(--color-gray);
}

.location-separator.-event {
	margin-right: .5rem;
	margin-left: .5rem;
	font-size: 1.25rem;
	color: var(--color-white);
}

@media (--bp-small) {

	.location-separator.-event {
		font-size: 1.375rem;
	}
}
@media (--bp-max-width) {

	.location-separator:not(.-event) {
		font-size: 1.125rem;
	}

	.location-separator.-event {
		font-size: 1.5rem;
	}
}
