@media (min-width: 768px) {
	.cta-buttons {
		position: absolute;
		bottom: 1.875rem;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-content: stretch;
		align-items: flex-start;
	}
}