.hero-title {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	padding-bottom: 0;
	margin: 0 auto;
	font-weight: 700;
	color: var(--color-white);
	text-transform: uppercase;
	z-index: 12;
}

.hero-title,
.hero-title .et_pb_module_header {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5rem;
	text-transform: uppercase;
	text-align: center;
}

@media (--bp-small) {

	.hero-title,
	.hero-title .et_pb_module_header {
		font-size: 3rem;
	}
}

@media (--bp-max-width) {

	.hero-title,
	.hero-title .et_pb_module_header {
		font-size: 4.5rem;
	}
}
