.page-hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: stretch;
	flex: 1 0 auto;
	align-self: auto;
	width: auto;
	height: 36rem;
	overflow: hidden;
	background-size: cover;
	z-index: 10;
}

.page-hero:after {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 36rem;
	background: transparent;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%);
	z-index: 11;
	content: '';
}

.admin-bar .page-hero:after {
	top: 2.875rem;
}

@media (--bp-wp) {
	.admin-bar .page-hero:after {
		top: 2rem;
	}
}

@media (--bp-small) {

	.page-hero,
	.page-hero:after {
		height: 48rem;
	}
}

@media (--bp-max-width) {

	.page-hero,
	.page-hero:after {
		height: 60rem;
	}
}

