.modal-wrapper {
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	@mixin flexbox column, nowrap, center, stretch, stretch;
	width: auto;
	height: auto;
	padding-right: 1rem;
	padding-left: 1rem;
	background-color: transparent;
	overflow: auto;
	opacity: 0;
	z-index: -1;

	@media (--bp-small) {
		top: 0;
		padding: 10vh 15vw;
	}

	&[aria-hidden='false'] {
		 visibility: visible;
		 opacity: 1;
		 z-index: 1001;
	 }
}
