.modal-close {
	position: absolute;
	top: .625rem;
	right: .625rem;
	padding: .25em;
	background-color: transparent;
	border: none;
	border-radius: .1875rem;
	line-height: 1;
	color: var(--color-white);
	cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
	background-color: transparent;
	border: none;
}



