.modal-view {
	@mixin flexbox column, wrap, flex-start, flex-start, flex-start;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;

	> .title {
		margin-top: 0;
		margin-bottom: 3.125rem;
		font-size: 2.25rem;
		font-weight: normal;
	}
}
