.modal-dialog {
	@mixin flexbox column, nowrap, center, stretch, stretch;
	@mixin flex 0, 0, 1, auto, auto;
	visibility: visible;
	position: relative;
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: transparent;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	opacity: 0;
	pointer-events: auto;

	@nest .modal-wrapper[aria-hidden=false] & {
		visibility: visible;
		opacity: 1;
		z-index: 1000;
	}
}
