.datepicker,
.gform_wrapper input[type=text].datepicker {
	width: 100%;
	padding: .8055555555em !important;
	margin-bottom: em(30, 18);
}

/*
 * The Gravity Form development team really likes to add `!important` flags so that they can force their form styles on
 * you. Well, !nope.
 */
.gform_wrapper .form-item .datepicker {
	width: 100% !important;
}
