.field-label {
	display: block;
	width: 100%;
	font-size: .875rem;
	color: var(--color-black);
}

.field-label.-checkbox {
	display: inline-block;
	float: left;
	width: calc(100% - 27px);
}

.field-label.-radio {
	display: inline-block;
	width: calc(100% - 30px);
	font-weight: 700;
}

