.nf-form-content .form-item {
	order: 0;
	flex: 0 0 100%;
	align-self: auto;
}

.form-item.-half {
	@include mq(tablet) {
		flex-basis: calc(50% - .5555555555em);
	}
}

.form-item.-half.-first {
	margin-right: .5555555555em;
}

.form-item.-half.-second {
	margin-left: .5555555555em !important; // the `!important` flag overrides Gravity Form's styles.
}
