.gform_wrapper {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.gform_fields {
	display: flex !important;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}

.gfield {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	order: 0;
	flex: 0 1 100%;
	align-self: auto;
}

.gform_wrapper ul.gform_fields li.gfield {
	margin-top: 0 !important;
}

.gform_wrapper li.hidden_label input {
	margin-top: 0 !important;
}

.gform_wrapper ul.gform_fields li.gfield {
	padding-right: 0 !important;
}

.gfield.-quarter {
	order: 0;
	flex: 0 1 100%;
	align-self: auto;
}

.gfield.-third {
	order: 0;
	flex: 0 1 100%;
	align-self: auto;
}

.gfield.-half,
.contact-name .name_first,
.contact-name .name_last {
	order: 0;
	flex: 0 1 100%;
	align-self: auto;
}

@media (min-width: 768px) {
	.gfield.-quarter {
		flex: 0 1 25%;
	}

	.gfield.-third {
		flex: 0 1 33.333333333%;
	}

	.gfield.-half,
	.contact-name .name_first,
	.contact-name .name_last {
		flex: 0 1 50%;
	}
}

.contact-name .name_first label,
.contact-name .name_last label{
	display: none !important;
}

.gform_wrapper textarea.large {
	width: 100%;
	padding: 1rem !important;
	margin-bottom: .5rem;
	border: none;
	border-bottom: 1px solid var(--color-white-50);
	border-radius: 0;
	outline: none;
	background-color: var(--color-white-25);
	font-size: 1.25rem !important;
	font-weight: 300;
	color: var(--color-black);
}


@media (min-width: 768px) {
	.gform_wrapper textarea.large {
		margin-bottom: 1rem;
		font-size: 1.5rem !important;
	}
}

.ginput_container {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
}

.gform_wrapper .top_label input.medium.datepicker {
	width: calc(100% - 24px) !important;
}

body .gform_wrapper .top_label div.ginput_container {
	margin-top: 0 !important;
}

.gform_wrapper input:not([type='radio']):not([type='checkbox']):not([type='image']):not([type='file']) {
	line-height: 1.25 !important;
}

@media (max-width: 768px) {
	.gform_wrapper input:not([type='radio']):not([type='checkbox']):not([type='image']):not([type='file']) {
		line-height: 2 !important;
	}
}

body .gform_wrapper ul li.gfield {
	margin-top: 2rem;
}

.gfield_label {
	order: 1;
	flex: 0 1 auto;
	align-self: auto;
	font-size: 1rem !important;
	font-weight: 300 !important;
	text-transform: uppercase;
	color: var(--color-black);
}

@media (min-width: 768px) {
	.gfield_label {
		font-size: 1.25rem !important;
	}
}

.gfield_required {
	color: var(--color-blue) !important;
}

.gform_wrapper .gform_footer {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
}
