.input-field,
.gform_wrapper input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']),
input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']),
#commentform input[type="text"], #commentform input[type="email"], #commentform input[type="url"] {
	width: 100%;
	padding: .5rem 1rem !important;
	margin-bottom: 1rem !important;
	border: .0625rem solid var(--color-gray-lighter);
	border-radius: .3125rem;
	outline: none;
	background-color: var(--color-white);
	font-size: 1rem !important;
	font-weight: 300;
	color: var(--color-gray);

	@media (--bp-max-width) {
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;
		margin-bottom: 2rem !important;
	}
}

.input-field:focus,
.gform_wrapper input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']):focus,
input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']):focus,
#commentform input[type="text"], #commentform input[type="email"], #commentform input[type="url"]:focus {
	border-color: var(--color-gray-light) !important;
	color: var(--color-gray) !important;
}
