.name-field {
	@media (--bp-small) {
		flex: 0 1 50%;
	}

	&.-first {
		@media (--bp-small) {
			padding-right: .5rem !important;
		}

		@media (--bp-max-width) {
			padding-right: 1rem !important;
		}
	}

	&.-last {
		@media (--bp-small) {
			padding-left: .5rem !important;
		}

		@media (--bp-max-width) {
			padding-left: 1rem !important;
		}
	}
}
