.search-input {
	width: calc(100% - 4.0625rem);
	padding: var(--gutter-base);
	background-color: transparent;
	border: none;
	border-bottom: .0625rem solid var(--color-white);
	outline: none;
	font-size: 1.125rem;
	font-weight: 300;
	color: var(--color-white);

	@media (--bp-small) {
		font-size: 1.5rem;
	}

	@media (--bp-max-width) {
		font-size: 2rem;
	}
}
