.select-box {
	width: 100%;
	padding: 0 !important;
	padding-bottom: .5rem !important;
	margin-bottom: 1rem;
	border: none;
	border-bottom: 1px solid var(--color-white-50);
	border-radius: 0;
	outline: none;
	background-color: transparent;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#fff '><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
	background-size: 16px;
	background-position: calc(100% - 20px) 17px;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	font-size: 2rem !important;
	font-weight: 300;
	color: var(--color-black);
}
