.submit-button {
	width: 100%;
	padding: .875rem 1.5rem;
	border: none;
	border-radius: .3125rem !important;
	background-color: var(--color-blue-darker);
	border-radius: 0;
	line-height: 1;
	font-size: .875rem;
	font-weight: 300;
	color: var(--color-white);
	cursor: pointer;

	@media (--bp-small) {
		width: auto;
		padding-top: 1rem;
		padding-bottom: 1rem;
		font-size: 1rem;
	}

	&:hover,
	&:focus {
		background-color: var(--color-blue-lighter);
		color: var(--color-blue-darker);
	}
}
