.textarea-field,
.gform_wrapper textarea,
textarea,
#commentform textarea {
	width: 100%;
	height: 9rem;
	padding: .5rem 1rem !important;
	margin-bottom: 1rem;
	border: .0625rem solid var(--color-gray-lighter);
	border-radius: .3125rem;
	outline: none;
	background-color: var(--color-white);
	font-size: 1rem !important;
	font-weight: 300;
	color: var(--color-gray);

	@media (--bp-max-width) {
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;
		margin-bottom: 2rem;
	}
}

.textarea-field:focus,
.gform_wrapper textarea:focus,
textarea:focus,
#commentform textarea:focus{
	border-color: var(--color-gray-light) !important;
	color: var(--color-gray) !important;
}
