.navigation-button {
	padding: 0 2.375rem;
	border: 0;
	background-color: transparent;
	color: var(--color-white);
	text-transform: uppercase;
	z-index: 12;
	cursor: pointer;
}

.navigation-button:hover,
.navigation-button:focus {
	background-color: transparent;
}

.navigation-button.-active:hover,
.navigation-button.-active:focus {
	background-color: var(--color-white);
}
