.site-logo {
	order: 0;
	flex: 0 1 10.1875rem; /* 163px */
	align-self: auto;
	width: 10.1875rem;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin: 0 auto;
	z-index: 12;

	@media (--bp-small) {
		flex-basis: 12.75rem; /* 204px */
		width: 12.75rem;
		padding-top: .625rem;
		padding-bottom: .625rem;
	}
}
