.footer-address {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	order: 1;
	flex: 0 1 auto;
	align-self: auto;
	line-height: 1;
	font-style: normal;
}
