.footer-title {
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: var(--gutter-base);
	font-size: 1.125rem;
	font-weight: 300;
	color: var(--color-white);
}

@media (--bp-max-width) {
	.footer-title {
		margin-bottom: var(--gutter-medium);
	}
}
