.footer-contact {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	order: 1;
	flex: 0 1 100%;
	align-self: auto;
}

@media (--bp-small) {
	.footer-contact {
		flex-basis: calc(66.66666666% - 1.33333333rem);
		margin-left: var(--gutter-base);
	}
}

@media (--bp-max-width) {
	.footer-contact {
		flex-basis: calc(66.66666666% - 2.666666666rem);
		margin-left: var(--gutter-medium);
	}
}
