.purpose-statement {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
	flex: 1 0 auto;
	width: auto;
	background-color: var(--color-blue-lightest);
}

