.statement-content {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	width: auto;
	padding: var(--gutter-base);
	line-height: 2;
	font-size: 1rem;
	font-family: var(--secondary-font);
	font-style: italic;
	font-weight: normal;
	color: var(--color-blue);
	text-align: center;
}

@media (--bp-small) {

	.statement-content {
		padding: var(--gutter-medium);
		font-size: 1.5rem;
	}
}

@media (--bp-max-width) {

	.statement-content {
		font-size: 2rem;
	}
}
