.page-section,
.et_pb_section.page-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: center;
	flex: 1 0 auto;
	width: 100%;
	padding-top: var(--gutter-base);
	padding-bottom: var(--gutter-base);
	margin: 0 auto;
}

@media (--bp-small) {

	.page-section,
	.et_pb_section.page-section {
		padding-top: var(--gutter-medium);
		padding-bottom: var(--gutter-medium);
	}
}

@media (--bp-max-width) {

	.page-section,
	.et_pb_section.page-section {
		padding-top: var(--gutter-large);
		padding-bottom: var(--gutter-large);
	}
}
