.section-title {
	position: relative;
	flex: 0 1 auto;
	padding-bottom: var(--gutter-base);
	margin-top: 0;
	margin-bottom: var(--gutter-base);
	line-height: 1;
	font-family: var(--primary-font);
	font-size: 1.25rem;
	font-weight: 300;
	color: var(--color-gray);
}

.section-title:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid var(--color-gray)Lighter;
	content: '';
}

@media (--bp-small) {

	.section-title {
		margin-bottom: var(--gutter-medium);
		font-size: 2rem;
	}
}

@media (--bp-max-width) {

	.section-title {
		margin-bottom: var(--gutter-large);
		font-size: 3rem;
	}
}
