.et-db #et-boc .et_pb_row.section-row {
	padding-top: 0;
	padding-bottom: 0;
}

.et_pb_row.section-row {
	padding-top: var(--gutter-base);
	padding-bottom: var(--gutter-base);

	@media (--bp-small) {
		padding-top: var(--gutter-medium);
		padding-bottom: var(--gutter-medium);
	}

	@media (--bp-max-width) {
		padding-top: var(--gutter-large);
		padding-bottom: var(--gutter-large);
	}
}
