.et-db #et-boc .et_pb_section.section-module {
	padding-top: 0;
	padding-bottom: var(--gutter-base);
}

@media (--bp-small) {

	.et-db #et-boc .et_pb_section.section-module {
		padding-bottom: var(--gutter-medium);
	}
}

@media (--bp-max-width) {

	.et-db #et-boc .et_pb_section.section-module {
		padding-bottom: var(--gutter-large);
	}
}
