.main-navigation {
	position: fixed;
	top: 3.125rem;
	bottom: 0;
	left: -100vw;
	display: flex;
	visibility: visible;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	order: 0;
	flex: 0 1 100vw;
	align-self: auto;
	width: 100vw;
	height: calc(100vh - 3.125rem);
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: var(--color-white);
	border-right: .0625rem solid var(--color-gray-lightest);
	opacity: 0;
	overflow: hidden;
	overflow-y: auto;
	z-index: 999;
}

.main-navigation.-active {
	left: 0;
	opacity: 1;
}

.logged-in .main-navigation {
	top: 6rem;
	height: calc(100vh - 6rem);
}

@media (--bp-small) {
	.main-navigation {
		top: 4.375rem;
		left: -20rem;
		flex-basis: 20rem;
		width: 20rem;
		height: calc(100vh - 4.375rem);
	}

	.logged-in .main-navigation {
		top: 7.25rem;
		height: calc(100vh - 7.25rem);
	}
}

@media (--bp-wp) {
	.logged-in .main-navigation {
		top: 6.375rem;
		height: calc(100vh - 6.375rem);
	}
}
