.nav-link {
	position: relative;
	display: block;
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	text-decoration: none;
}

.nav-link:not(.-social) {
	padding: 1rem 2rem;
	font-size: 1rem;
	font-weight: bold;
	color: var(--color-blue-dark);
}

.nav-link:not(.-social):hover,
.nav-link:not(.-social):focus ,
.nav-link:visited {
	color: var(--color-blue-dark);
}

.nav-link:hover,
.nav-link:focus {
	text-decoration: none;
}

.nav-link:not(.-social):hover,
.nav-link:not(.-social):focus {
	background-color: var(--color-blue-lighter);
	color: var(--color-blue-dark);
}
