.nav-list {
	display: flex;
	flex-flow: column nowrap;
	align-content: stretch;
	align-items: stretch;
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	padding-left: 0;
	margin-top: 0;
	list-style-type: none;

	@media (--bp-small) {
		margin-bottom: var(--gutter-medium);
	}

	@media (--bp-small) {
		margin-bottom: var(--gutter-large);
	}
}

.nav-list:not(.-social) {
	justify-content: flex-start;
	margin-bottom: var(--gutter-base);

	@media (--bp-small) {
		margin-bottom: var(--gutter-medium);
	}

	@media (--bp-small) {
		margin-bottom: var(--gutter-large);
	}
}

.nav-list.-social {
	flex-flow: row nowrap;
	justify-content: center;
	margin-top: var(--gutter-base);
	margin-bottom: 0;

	@media (--bp-small) {
		margin-top: var(--gutter-medium);
	}

	@media (--bp-small) {
		margin-top: var(--gutter-large);
	}
}
