.nav-item {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	list-style-type: none;

	&.-social {
		 margin-right: .5rem;
		 margin-left: .5rem;
	}
}
