.navigation-overlay {
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1.5625rem;
	background-color: var(--color-black);
	overflow: auto;
	opacity: 0;
	z-index: -1;

	&[aria-hidden='false'] {
		visibility: visible;
		opacity: 1;
		z-index: 998;
	}
}
