.page-navigation a,
.page-navigation a:visited,
.page-navigation span {
	background-color: $color-gray;
	color: $color-white;
}

.page-navigation a:hover,
.page-navigation a:active {
	background-color: $color-orange;
}

.page-numbers.current {
	background-color: $color-orange;
}
