.subnav-link {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	padding: .75rem 2rem .75rem 4rem;
	color: var(--color-blue-dark);
	text-decoration: none;
}

.subnav-link:visited {
	color: var(--color-blue-dark);
}

.subnav-link:hover,
.subnav-link:focus {
	background-color: var(--color-blue-lighter);
	color: var(--color-blue-dark);
	text-decoration: none;
}
