/**
 * CO Raleigh: Global Variables
 * https://coraleigh.com
 *
 * Copyright (c) 2018 The Summit Church
 * Licensed under the MIT license.
 */
:root {
	--color-black: black;
	--color-black-50: rgba(0, 0, 0, .5);
	--color-black-80: rgba(0, 0, 0, .8);
	--color-white: white;
	--color-white-50: rgba(255, 255, 255, .5);
	--color-white-75: rgba(255, 255, 255, .75);
	--color-blue: rgba(0, 134, 193, 1);
	--color-blue-50: rgba(0, 134, 193, .5);
	--color-blue-light: rgba(3, 179, 255, 1);
	--color-blue-lighter: rgba(151, 222, 252, 1);
	--color-blue-lightest: rgba(202, 240, 254, 1);
	--color-blue-dark: rgba(0, 60, 86, 1);
	--color-blue-dark-50: rgba(0, 60, 86, .5);
	--color-blue-darker: rgba(0, 39, 56, 1);
	--color-blue-darker-50: rgba(0, 39, 56, .5);
	--color-blue-darkest: rgba(0, 9, 13, 1);
	--color-gray: rgba(85, 85, 85, 1);
	--color-gray-light: rgba(121, 118, 121, 1);
	--color-gray-lighter: rgba(200, 200, 200, 1);
	--color-gray-lightest: rgba(248, 247, 247, 1);
	--color-gray-dark: rgba(57, 56, 57, 1);
	--color-gray-darker: rgba(34, 34, 34, 1);
	--color-gray-darkest: rgba(17, 17, 17, 1);
	--primary-font: proxima-nova, sans-serif;
	--secondary-font: grad, serif;
	--max-width: 78.375rem;
	--gutter-large: 4rem;
	--gutter-medium: 2rem;
	--gutter-base: 1rem;
	--gutter-small: .5rem;
}

@custom-media --bp-tiny (min-width: 25rem); /* 400px */
@custom-media --bp-small (min-width: 40.625rem); /* 650px */
@custom-media --bp-wp (min-width: 48.9375rem); /* 783px */
@custom-media --bp-medium (min-width: 53.125rem); /* 850px */
@custom-media --bp-large (min-width: 62.5rem); /* 1000px */
@custom-media --bp-max-width (min-width: 78.375rem); /* 1260px */
