.et_pb_fullwidth_header .et_pb_fullwidth_header_container.left .header-content {
	padding: 0;
	margin-right: 0;
	text-align: center;
}

.et_pb_section,
.page.et_pb_pagebuilder_layout #main-content {
	background-color: transparent !important;
}

.et_pb_section,
.et_pb_row:not(.section-row) {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
