.close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.4375rem 2.375rem;
	border: none;
	background-color: transparent;
	cursor: pointer;
	z-index: 999;

	@nest .logged-in & {
		top: 2.875rem;

		@media (--bp-wp) {
			top: 2rem;
		}
	}
}

.close-button:hover,
.close-button:focus {
	background-color: var(--color-gray-dark);
}
