.site-search {
	display: none;
	visibility: hidden;
	opacity: 0;

	&.-active {
		@mixin flexbox column, nowrap, center, stretch, center;
		visibility: visible;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: var(--gutter-base);
		opacity: .95;
		background-color: var(--color-black);
		color: var(--color-white);
		z-index: 998;

		@media (--bp-small) {
			padding: var(--gutter-medium);
		}

		@media (--bp-max-width) {
			padding: var(--gutter-large);
		}
	}
}
